* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.container{
    margin: 1rem;
    text-align: center;
}

/* .nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
} */

  /* navbar */
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
  }
.site-title{
    font-size: 2rem;
    height: 50px;
}

.nav ul{
    padding: 10px;
    margin: 0 1rem 0 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    border-radius: 10px 10px 10px 10px;
}

.nav li{
  padding: 5px;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active{
  font-weight: 800;
    /* background-color: hsl(226, 100%, 76%);
    border-radius: 10px 10px 10px 10px;
    padding: 5px; */

}

/* .nav li:hover{
     background-color: #bdcbfa;
    border-radius: 10px 10px 10px 10px;
    padding: 5px; 
    
} */

/* Old stuff */

.Home {
    text-align: center;
  }
  
  .Home-logo {
    /* height: 40vmin; */
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Home-logo {
      height: 50vh;
      width: 100vh;
      animation: none;
    }
  }


  
  .Home-header {
    background-color: #011949;
    min-height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    font-weight: 500;
    color: white;
  }
  
  .Home-subtitle {
    background-color: #011949;
    min-height: 50vh;
    padding: 0 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    font-size: calc(5px + 2vmin);
    font-weight: 300;
    color: white;
  }
  
  .Home-subtitle p{
    text-align: left;
  }
  
  .Home-link {
    color: #c4c0f7;
  }
  
  .ThingsToRead-header {

    background-color: #011949;
    padding: 0 0 0 5rem; 
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    font-weight: 500;
    color: white;
  }

  .ThingsToRead-subtitle {
    background-color: #011949;
    padding: 0 0 0 5rem; 
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
  }

  /* <!-- HTML !-->
  <button class="button-1" role="button">Button 1</button> */
  
  /* CSS */
  .button-1 {
    background-color: #ffffff;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  

  .Snorlax-header {

    background-color: #011949;
    margin-top: 70px;
    padding: 0 0 0 5rem; 
    min-height: 80vh;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    font-weight: 500;
    color: white;
  }

  
  .Snorlax-subtitle {
    background-color: #011949; 
    padding: 0 2rem 0 0; /*top, right, bot, left*/
    min-height: 30vh;
    display: flex;
    /* flex-direction: column; */
    flex: 50%;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    font-weight: normal;
    color: white;
  }

.Snorlax-text-subtitle{
  background-color: #011949; 
  padding: 0 4rem 0 0; /*top, right, bot, left*/
  /* min-height: 30vh; */
  line-height: 3;
  display: flex;
  flex-direction: left; 
   flex: 2%;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-size: calc(8px + 2vmin);
  font-weight: normal;
  display: flex;
  color: white;
}

  .Snorlax-logo {
    /* height: 40vmin; */
    margin: 0 0 -10px auto;
    display: block;
    width: 50%;
    height: auto;
  }

  .Snorlax-button-style{
    background-color: #011949; 
    padding: 0 4rem 0 0; /*top, right, bot, left*/
    /* min-height: 30vh; */
    line-height: 3;
    display: flex;
    flex-direction: left; 
     flex: 2%;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    font-size: calc(8px + 2vmin);
    font-weight: normal;
    color: white;
  }